<!-- <header class="header">
  <a href="/" class="header__logo">CoreJs</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
      </li>
      <li>
        <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
      </li>
      <li>
        <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

</header> -->


<nav class="nav">
  <i class="fa fa-bars navOpenBtn" aria-hidden="true"></i>
  <a href="/" class="logo">Chartered<span>PayRoll</span></a>
  <ul class="nav-links">
      <i class="fa fa-times navCloseBtn" aria-hidden="true"></i> 
      <li><a class="link-hover" href="/">Home</a></li>
      <li><a class="link-hover" href="./all-blogs">Blog</a></li>
      <li>
          <div class="dropdown dropdown-hover">
              <a class="dropdown-toggle" href="./solution" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Solution 
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./solution">Manages Payroll</a></li>
                <li><a class="dropdown-item" href="./solution">Labour Law Retainer Services</a></li>
                <li><a class="dropdown-item" href="./solution">Representation & Litigation</a></li>
                <li><a class="dropdown-item" href="./solution">Featured Services</a></li>
              </ul>
          </div>
      </li>
      <li><a class="link-hover" href="./careers">Careers</a></li>
      <li><a class="link-hover" href="./contact">Contact</a></li>
  </ul>
  <i class="fa fa-search search-icon" aria-hidden="true" id="searchIcon"></i>
  <div class="search-box">
    <i class="fa fa-search search-icon" aria-hidden="true"></i>  
    <input type="text" placeholder="search here...">  
  </div>
</nav>