
<head>
    <link rel="stylesheet" href="./public/css/blog.css">
</head>
   <!-- ========================Blog Listing============================ -->
    <section class="blogList">
        <div class="pageTitle">
            <h2>The <span>CharteredPayRoll</span> Blog ...</h2>
            <p>Explore our blog for insightful articles and expert guidance on payroll services. Stay informed about the latest industry trends, compliance updates, and tips for optimizing payroll processes. Empower your business with knowledge from our comprehensive payroll blog.</p>
            <h3>Recent Posts</h3>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-12 mb-4">
                <a class="mainBlog" href="./blog">
                    <div class="imgBox">
                        <img src="./public/images/800.jpeg" alt="">
                    </div>
                    <div class="blogCat">
                        <span>STATUTORY UPDATES</span>
                    </div>
                    <h3 class="blogTitle">Guidelines for engagement of Student – Trainees for exemption from PF Applicability</h3>
                    <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p>
                    <div class="admin-date">
                        <span>ChartereddOne Admin</span> | <span>31 Jan 2024</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 mb-2">
                        <a class="sideBlog" href="./blog">
                            <div class="imgBox">
                                <img src="./public/images/busines-3.jpg" alt="">
                            </div>
                            <div class="blogCat">
                                <span>STATUTORY UPDATES</span>
                            </div>
                            <h3 class="blogTitle">Using AI for Email Writing: The 9 Best Tools</h3>
                            <!-- <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p> -->
                            <div class="admin-date">
                                <span>CharteredOne Admin</span> | <span>31 Jan 2024</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <a class="sideBlog" href="./blog">
                            <div class="imgBox">
                              <img src="./public/images/business-4.jpg" alt="">
                            </div>
                            <div class="blogCat">
                                <span>STATUTORY UPDATES</span>
                            </div>
                            <h3 class="blogTitle">Using AI for Email Writing: The 9 Best Tools</h3>
                            <!-- <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p> -->
                            <div class="admin-date">
                                <span>CharteredOne Admin</span> | <span>31 Jan 2024</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== -->
    <section class="weeklyUpdate">
        <div class="pageTitle">
            <h3>Weekly Update ...</h3>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="weeklyBlog" href="./blog">
                    <div class="imgBox">
                      <img src="./public/images/business-4.jpg" alt="">
                    </div>
                    <div class="blogCat">
                        <span>STATUTORY UPDATES</span>
                    </div>
                    <h3 class="blogTitle">Using AI for Email Writing: The 9 Best Tools</h3>
                    <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p>
                    <div class="admin-date">
                        <span>CharteredOne Admin</span> | <span>31 Jan 2024</span>
                    </div>
                </a>
            </div>
            <!-- ====== -->
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="weeklyBlog" href="./blog">
                    <div class="imgBox">
                      <img src="./public/images/bussines-5.jpg" alt="">
                    </div>
                    <div class="blogCat">
                        <span>STATUTORY UPDATES</span>
                    </div>
                    <h3 class="blogTitle">Using AI for Email Writing: The 9 Best Tools</h3>
                    <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p>
                    <div class="admin-date">
                        <span>CharteredOne Admin</span> | <span>31 Jan 2024</span>
                    </div>
                </a>
            </div>
            <!-- ====== -->
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="weeklyBlog" href="./blog">
                    <div class="imgBox">
                      <img src="./public/images/bussiness-7.jpg" alt="">
                    </div>
                    <div class="blogCat">
                        <span>STATUTORY UPDATES</span>
                    </div>
                    <h3 class="blogTitle">Using AI for Email Writing: The 9 Best Tools</h3>
                    <p class="blogDesc">Payment of EPF Benefits through Paytm and Airtel Payments Bank EPF Department through a Circular dated 1st November, 2023 has notified that</p>
                    <div class="admin-date">
                        <span>CharteredOne Admin</span> | <span>31 Jan 2024</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="loadMore">
            <a href="#000">
                <button class="button">
                    <svg class="svg-icon" fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><g stroke="#ff342b" stroke-linecap="round" stroke-width="1.5"><path d="m3.33337 10.8333c0 3.6819 2.98477 6.6667 6.66663 6.6667 3.682 0 6.6667-2.9848 6.6667-6.6667 0-3.68188-2.9847-6.66664-6.6667-6.66664-1.29938 0-2.51191.37174-3.5371 1.01468"></path><path d="m7.69867 1.58163-1.44987 3.28435c-.18587.42104.00478.91303.42582 1.0989l3.28438 1.44986"></path></g></svg>
                    <span class="lable">Load More Blogs</span>
                </button>
            </a>
        </div>
    </section>
    
    <section class="subscribeBox">
        <div class="row">
            <div class="col-lg-5">
                <div>
                    <h4>Receive our top-notch content directly to your email.</h4>
                    <p>Your inbox's go-to source for valuable tips, engaging stories, and essential resources—all curated for your needs and wants!</p>
                </div>
            </div>
            <div class="col-lg-7 subscribeBtn">
                <div>
                    <div class="input-group">
                        <input type="email" class="input" id="Email" name="Email" placeholder="example@email.com" autocomplete="off" required>
                        <input class="button--submit" value="Subscribe" type="submit">
                    </div>
                    <small class="privacy-message">
                        We respect your privacy! Information provided is solely used for content and updates. Unsubscribe anytime. Refer to our <a href="#000">privacy policy</a> for more details
                    </small>
                </div>
            </div>
        </div>
    </section>