<head>
    <link rel="stylesheet" href="../public/css/solution.css">
</head>
   <!-- ==================================================== -->
   <section class="px-md-5 px-4 banner-box">
        <div class="col-lg-6 col-md-12 banner-item">
            <div>
                <h2><span>Join the evolving journey at Payrule by submitting your resume and becoming an integral part of our expanding team.</span></h2>
                <p class="text-muted">We navigate organizations through the complexities of payroll and post-payroll compliances, drawing on our profound subject matter expertise. This empowers you to focus on your core business with our efficient and impactful approach.</p>
                <div class="banner-btn">
                    <a href="./jobs">
                        <button class="btnUi">
                          Join Us !
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 banner-item">
            <div class="image-box">
                <img src="./public/images/career-img.png" alt="career">
            </div>
        </div>
   </section>
   <!-- =========================== -->
    <section class="px-md-5 px-4 managedPayroll">
        <div class="row accordian-box">
            <div class="col-lg-6 col-md-12">
                <div class="image-box">
                    <img src="./public/images/woman-with-laptop.png" alt="woman-with-laptop">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="wrapper">
                    <div class="mt-4">
                         <h3 class="main-title">Available Vacancies</h3>
                         <p class="sub-heading">Join our dynamic team. Explore exciting opportunities and contribute your skills to our growing organization.</p>
                    </div>
                     <input type="radio" id="radioYour Account" name="accordion" checked="checked"/>
                     <label class="item" for="radioYour Account">
                       <div class="title">Payroll Specialist</div>
                       <div class="content">
                         <div>
                             <ul>
                                 <li>Min Exprience : 2 Years</li>
                                 <li>Available Position : 1</li>
                                 <li>CTC Offered : Upto Rs 4.5L per annum</li>
                             </ul>
                         </div>
                         <div class="banner-btn centerBtn">
                            <a href="./jobs">
                                <button class="btnUi">
                                   Apply Now
                                </button>
                            </a>
                          </div>
                       </div>
                     </label>
                     <input type="radio" id="radioPayment &amp; Pricing" name="accordion"/>
                     <label class="item" for="radioPayment &amp; Pricing">
                       <div class="title">Junior Payroll Executive</div>
                       <div class="content">
                         <ul>
                            <ul>
                                <li>Min Exprience : 0-1 Years</li>
                                <li>Available Position : 1</li>
                                <li>CTC Offered : Upto Rs 2.5L per annum</li>
                            </ul>
                         </ul>
                         <div class="banner-btn centerBtn">
                            <a href="./jobs">
                                <button class="btnUi">
                                   Apply Now
                                </button>
                            </a>
                          </div>
                       </div>
                     </label>
                     <input type="radio" id="radioReturns &amp; Refunds" name="accordion"/>
                     <label class="item" for="radioReturns &amp; Refunds">
                       <div class="title">Compliance Executive</div>
                       <div class="content">
                        <ul>
                            <li>Min Exprience : 0-1 Years</li>
                            <li>Available Position : 1</li>
                            <li>CTC Offered : Upto Rs 2L per annum</li>
                        </ul>
                        <div class="banner-btn centerBtn">
                            <a href="./jobs">
                                <button class="btnUi">
                                   Apply Now
                                </button>
                            </a>
                        </div>
                       </div>
                     </label>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================================================== -->
    <section class="px-md-5 px-4 py-5 quoteBox">
        <div class="row">
            <div class="col-md-8 sol-sm-12">
                <div class="banner-item">
                    <h2>Let us manage non-core HR functions, enabling you to concentrate on your core business priorities.</h2>
                    <p>We take the payroll and compliances game head on, with a smile on our faces</p>
                </div>
            </div>
            <div class="col-md-4 sol-sm-12 quoteBtn">
                <div class="text-center">
                    <a href="./contact">
                        <button>
                            <span>Get a Quote</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>