<head>
    <link rel="stylesheet" href="../public/css/contact.css">
</head>
   <!-- ==================================================== -->
   <section class="container-fluid fliudBox">
        <div class="col-lg-6 col-md-8 mx-auto thankuBox">
            <h2 class="">Thank You!</h2>
            <p>Your Feedback was submitted. Thank You for your time.</p>
            <button class="goback" onclick=" window.history.back();"><i class="fa-solid fa-angles-left"></i> Go Back</button>
        </div>
   </section>