<!-- <div class="author">
  <h1 class="author__heading">CharteredPayRoll Blog Post</h1>
  <p class="author__body">Blog Post will be listed here.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
 
</section> -->
<head>
    <link rel="shortcut icon" href="../public/images/siteIcon.png" type="image/x-icon">
    <!-- ***********************************Slider********************************** -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/css/home.css">
</head>
   <section class="px-md-5 px-4 banner-box">
        <div class="col-lg-6 col-md-12 banner-item">
            <div>
                <h2>Your go-to "Payroll &amp;<br/> Labour Law Experts"</h2>
                <p class="text-muted">We handhold organizations in maneuvering through the complex maze of Payroll and Post Payroll Compliances by leveraging our Subject Matter Expertise while you focus on your business. We are “lean but impactful”</p>
                <div class="banner-btn">
                    <a href="./solution">
                        <button>
                            <span class="text">Know More</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 banner-item">
            <div class="image-box">
                <img src="./public/images/cheerful-curly-business-girl-wearing-glasses-1.webp" alt="business-woman-glasses">
            </div>
        </div>
   </section>
   <!-- =========================== -->
    <section class="slider">
       <div class="text-center">
        <h4 class="section-heading">Our Client</h4>
        <span class="section-span mb-5"></span>
       </div>
        <div class="slide-track">
            <div class="slide">
                <img src="./public/images/mcdonalds-black-logo.png" alt="mcdonalds"/>
            </div>
            <div class="slide">
                <img src="./public/images/starbucks-logo-black-and-white.png" alt="starbucks"/>
            </div>
            <div class="slide">
                <img src="./public/images/general-electric-black-logo-png-transparent.png" alt="general-electric-black"/>
            </div>
            <div class="slide">
                <img src="./public/images/nfl-logo-png-transparent.png" alt="nfl-logo"/>
            </div>
            <div class="slide">
                <img src="./public/images/mercedes-benz-6-logo-png-transparent.png" alt="mercedes"/>
            </div>
            <div class="slide">
                <img src="./public/images/hogwarts-logo-png-transparent.png" alt="hogwarts"/>
            </div>
            <div class="slide">
                <img src="./public/images/mcdonalds-black-logo.png" alt="mcdonalds"/>
            </div>
            <div class="slide">
                <img src="./public/images/starbucks-logo-black-and-white.png" alt="starbucks"/>
            </div>
            <div class="slide">
                <img src="./public/images/general-electric-black-logo-png-transparent.png" alt="general-electric-black"/>
            </div>
            <div class="slide">
                <img src="./public/images/nfl-logo-png-transparent.png" alt="nfl-logo"/>
            </div>
            <div class="slide">
                <img src="./public/images/mercedes-benz-6-logo-png-transparent.png" alt="mercedes"/>
            </div>
            <div class="slide">
                <img src="./public/images/hogwarts-logo-png-transparent.png" alt="hogwarts"/>
            </div>
            <div class="slide">
                <img src="./public/images/mcdonalds-black-logo.png" alt="mcdonalds"/>
            </div>
            <div class="slide">
                <img src="./public/images/starbucks-logo-black-and-white.png" alt="starbucks"/>
            </div>
            <div class="slide">
                <img src="./public/images/general-electric-black-logo-png-transparent.png" alt="general-electric-black"/>
            </div>
            <div class="slide">
                <img src="./public/images/nfl-logo-png-transparent.png" alt="nfl-logo"/>
            </div>
            <div class="slide">
                <img src="./public/images/mercedes-benz-6-logo-png-transparent.png" alt="mercedes"/>
            </div>
            <div class="slide">
                <img src="./public/images/hogwarts-logo-png-transparent.png" alt="hogwarts"/>
            </div>
        </div>
    </section>
    <!-- ===============Team==================== -->
    <section class="px-md-5 px-4 team-box">
        <div class="col-md-6 team-item">
            <div class="image-box">
                <img src="./public/images/team.jpg" alt="business-woman-glasses">
            </div>
        </div>
        <div class="col-md-6 team-item">
            <div>
                <div class="text-center">
                    <h4 class="section-heading mt-4">Our Team</h4>
                    <span class="section-span mb-5"></span>
                </div>
                <h2>We take the payroll and compliance game heads on, with a smile on our faces.</h2>
                <p class="text-muted">PayRule Services has a single focus of redefining how the payroll is managed by SMEs and large enterprises in India. </p>
                <div class="team-btn text-center pb-4">
                    <a href="/contact">
                        <button class="button">
                            Get in touch
                            <div class="hoverEffect">
                            <div>
                            </div>
                        </div></button>
                    </a>
                </div>
            </div>
        </div>
   </section>
 
    <!-- ============================ -->
    <div class="container-fluid text-center number-counter mb-4 py-5">
        <div class="text-center">
            <h4 class="section-heading">Speaking Numbers</h4>
            <span class="section-span "></span>
        </div>
        <div class="row mt-4">
          <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
            <div class="counter-box">
                <div class="icon">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <h2 data-max="25000"> + <br/> <span>Satisfied Client</span></h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
            <div class="counter-box">
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
                <h2 data-max="87000"> + <br/> <span>ACCOUNTS HANDLED</span> </h2>
            </div>
          </div>
          <!-- ======== -->
          <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
            <div class="counter-box">
                <div class="icon">
                    <i class="fa-solid fa-book-open"></i>
                </div>
                <h2 data-max="8573"> + <br/> <span>PAYSLIPS PROCESSED </span> </h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
            <div class="counter-box">
                <div class="icon">
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                </div>
                <h2 data-max="7680000"> + <br/> <span>PF SCHEMES BENEFIT ACHIEVED</span></h2>
            </div>
          </div>
        </div>
    </div>
    <!-- ===============================Our Services============== -->
    <section class="services">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="our-services">
                    <div>
                        <h4 class="section-heading">Our Services</h4>
                        <span class="section-span"></span>
                    </div>
                    <div>
                        <ul>
                            <li><span><i class="fa-regular fa-circle-dot"></i></span>Managed Payroll</li>
                            <li><span><i class="fa-regular fa-circle-dot"></i></span>Labour Law Retainer Services</li>
                            <li><span><i class="fa-regular fa-circle-dot"></i></span>Representation and Litigation</li>
                            <li><span><i class="fa-regular fa-circle-dot"></i></span>Featured Services</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <a href="/solution" class="exploreServices">Explore Services <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-box">
                            <div class="mb-3">
                                <i class="fa-solid fa-list-check"></i>
                            </div>
                            <div>
                                <h4>Managed Payroll</h4>
                            </div>
                            <div>
                                <p>Payrule provides an extensive array of services tailored to the unique requirements of various industries</p>
                            </div>
                            <div class="read-more">
                                <a style="--clr: #7808d0" class="button" href="/solution">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                        
                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    Explore All
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-box">
                            <div class="mb-3">
                                <i class="fa-solid fa-scale-balanced"></i>
                            </div>
                            <div>
                                <h4>Labour Law Retainer Services</h4>
                            </div>
                            <div>
                                <p>Seize this chance to minimize the risk of non-compliance by relying on our team of seasoned professionals.</p>
                            </div>
                            <div class="read-more">
                                <a style="--clr: #7808d0" class="button" href="/solution">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                        
                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    Explore All
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-box">
                            <div class="mb-3">
                                <i class="fa-solid fa-building-shield"></i>
                            </div>
                            <div>
                                <h4>Representation and Litigation</h4>
                            </div>
                            <div>
                                <p>Create statutory forms and returns for PF, ESIC, PT, MLWF, etc. Engage in representation and liaison with various departments to provide advisory services.</p>
                            </div>
                            <div class="read-more">
                                <a style="--clr: #7808d0" class="button" href="/solution">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                        
                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    Explore All
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-box">
                            <div class="mb-3">
                                <span class="rotate"><i class="fa-solid fa-gear"></i></span>
                            </div>
                            <div>
                                <h4>Featured Services</h4>
                            </div>
                            <div>
                                <p>With a commitment to expanding our offerings, we have ventured into the following service areas, aligning with our goal of becoming your trusted experts in labor law and payroll.</p>
                            </div>
                            <div class="read-more">
                                <a style="--clr: #7808d0" class="button" href="/solution">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                        
                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    Explore All
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================BlogListing======================= -->
    <section class="blog">
        <div class="container">
           <div class="text-left">
            <h4 class="section-heading">Latest Blogs &amp; Post</h4>
            <span class="section-span mb-5"></span>
           </div>
           <div class="row">
                <div class="col-md-6 col-lg-4 blog-list mb-4">
                    <div>
                        <div class="image-box">
                            <img src="https://image.freepik.com/free-photo/business-executives-discussing-with-their-colleagues-on-whiteboa_1170-1837.jpg" alt="">        
                        </div>
                        <div class="blog-list-content">
                            <div class="title rainbow">
                                <a href="#">
                                    NAPS – Five Checkpoints to watch out for...
                                </a>
                            </div>
                            <div>
                                <p class="text-muted">
                                    NAPS – Five Checkpoints to watch out for National Apprenticeship Promotion Scheme (NAPS) is an apprenticeship promotion scheme under Apprentice Act 1961. 
                                </p>
                            </div>
                            <div class="blog-footer"> <b> Apprenticeship</b>  <span> Jan 2024</span></div>
                        </div>
                    </div>
                </div>
                <!--====  -->
                <div class="col-md-6 col-lg-4 blog-list mb-4">
                    <div>
                        <div class="image-box">
                            <img src="./public/images/bussines-discuss.avif" alt="bussines">      
                        </div>
                        <div class="blog-list-content">
                            <div class="title rainbow">
                                <a href="#">
                                    NAPS – Five Checkpoints to watch out for...
                                </a>
                            </div>
                            <div>
                                <p class="text-muted">
                                    NAPS – Five Checkpoints to watch out for National Apprenticeship Promotion Scheme (NAPS) is an apprenticeship promotion scheme under Apprentice Act 1961. 
                                </p>
                            </div>
                            <div class="blog-footer"> <b> Apprenticeship</b>  <span>Jan 2024</span></div>
                        </div>
                    </div>
                </div>
                <!-- === -->
                <div class="col-md-6 col-lg-4 blog-list mb-4">
                    <div>
                        <div class="image-box">
                            <img src="./public/images/business-team.avif" alt="bussines">         
                        </div>
                        <div class="blog-list-content">
                            <div class="title rainbow">
                                <a href="#">
                                    NAPS – Five Checkpoints to watch out for...
                                </a>
                            </div>
                            <div>
                                <p class="text-muted">
                                    NAPS – Five Checkpoints to watch out for National Apprenticeship Promotion Scheme (NAPS) is an apprenticeship promotion scheme under Apprentice Act 1961. 
                                </p>
                            </div>
                            <div class="blog-footer"> <b> Apprenticeship</b>  <span>Jan 2024</span></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </section>
    <!-- ====================Client Testimonil================= -->
   <div class="section-testmonials">
       <div class="column-testmonials">
           <div class="section-details">
               <h4 class="name-section">Clinet</h4>
               <h2 class="title-section"><b>Testimonials</b></h2>
           </div>
           <div class="navigation-testmonials">
               <div class="swiper-button-testmonials-prev swiper-btn"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="65"
                       viewBox="0 0 64 65" fill="none">
                       <circle cx="32" cy="32" r="31" transform="matrix(-1 0 0 1 64 0.947266)" stroke="#FFCB00"
                           stroke-width="2" />
                       <path
                           d="M34.5967 20.9197C35.1642 20.3521 36.0843 20.3521 36.6519 20.9197C37.2194 21.4872 37.2194 22.4073 36.6519 22.9749L34.5967 20.9197ZM36.6519 22.9749L24.3207 35.306L22.2655 33.2509L34.5967 20.9197L36.6519 22.9749Z"
                           fill="#FFCB00" />
                       <path
                           d="M34.9724 45.9749C35.5399 46.5424 36.4601 46.5424 37.0276 45.9749C37.5951 45.4073 37.5951 44.4872 37.0276 43.9197L34.9724 45.9749ZM37.0276 43.9197L24.6964 31.5885L22.6412 33.6437L34.9724 45.9749L37.0276 43.9197Z"
                           fill="#FFCB00" />
                   </svg></div>
               <div class="swiper-button-testmonials-next swiper-btn"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="65"
                       viewBox="0 0 64 65" fill="none">
                       <circle cx="32" cy="32.9473" r="32" fill="#FFCB00" />
                       <path
                           d="M29.4033 20.9197C28.8358 20.3521 27.9157 20.3521 27.3481 20.9197C26.7806 21.4872 26.7806 22.4073 27.3481 22.9749L29.4033 20.9197ZM27.3481 22.9749L39.6793 35.306L41.7345 33.2509L29.4033 20.9197L27.3481 22.9749Z"
                           fill="white" />
                       <path
                           d="M29.0276 45.9749C28.4601 46.5424 27.5399 46.5424 26.9724 45.9749C26.4049 45.4073 26.4049 44.4872 26.9724 43.9197L29.0276 45.9749ZM26.9724 43.9197L39.3036 31.5885L41.3588 33.6437L29.0276 45.9749L26.9724 43.9197Z"
                           fill="white" />
                   </svg></div>
           </div>
       </div>
       <!-- Slider main container -->
       <div class="swiper-testmonials">
           <div class="swiper-wrapper">
               <!-- Slide -->
               <div class="swiper-slide">
                   <div class="card-slide">
                       <div class="head-slide">
                           <div class="header-slide">
                               <div class="testimonialImage">
                                    <img src="./public/images/testimonial-1.webp" alt="" height="60" width="60">
                               </div>
                               <div class="title-slide">
                                   <h4>Smriti Mandhana</h4>
                                   <h6>Indian Cricketer</h6>
                               </div>
                           </div>
                       </div>
                       <p class="text-slide">
                        Efficient, user-friendly, and reliable. This payroll web portal service streamlines our processes seamlessly. Highly recommend for hassle-free payroll management!
                       </p>
                   </div>
               </div>
               <!-- Slide -->
               <div class="swiper-slide">
                   <div class="card-slide">
                       <div class="head-slide">
                           <div class="header-slide">
                               <div class="testimonialImage">
                                    <img src="./public/images/smith.webp" alt="" height="60" width="60">
                               </div>
                               <div class="title-slide">
                                   <h4>Steve Smith</h4>
                                   <h6>Australian Cricketer</h6>
                               </div>
                           </div>
                       </div>
                       <p class="text-slide">
                        Efficient, user-friendly, and reliable. This payroll web portal service streamlines our processes seamlessly. Highly recommend for hassle-free payroll management!
                       </p>
                   </div>
               </div>
               <!-- Slide -->
               <div class="swiper-slide">
                <div class="card-slide">
                    <div class="head-slide">
                        <div class="header-slide">
                            <div class="testimonialImage">
                                 <img src="./public/images/ravindra-jadeja-855.png" alt="" height="60" width="60">
                            </div>
                            <div class="title-slide">
                                <h4>Ravindra Jadega</h4>
                                <h6>Indian Cricketer</h6>
                            </div>
                        </div>
                    </div>
                    <p class="text-slide">
                        Efficient, user-friendly, and reliable. This payroll web portal service streamlines our processes seamlessly. Highly recommend for hassle-free payroll management!
                    </p>
                </div>
            </div>
               <!-- Slide -->
               <div class="swiper-slide">
                <div class="card-slide">
                    <div class="head-slide">
                        <div class="header-slide">
                            <div class="testimonialImage">
                                 <img src="./public/images/deepakC.jpg" alt="" height="60" width="60">
                            </div>
                            <div class="title-slide">
                                <h4>Deepak Chahar</h4>
                                <h6>Indian Cricketer</h6>
                            </div>
                        </div>
                    </div>
                    <p class="text-slide">
                        Efficient, user-friendly, and reliable. This payroll web portal service streamlines our processes seamlessly. Highly recommend for hassle-free payroll management!
                    </p>
                </div>
            </div>
               <!-- Slide -->
               <div class="swiper-slide">
                <div class="card-slide">
                    <div class="head-slide">
                        <div class="header-slide">
                            <div class="testimonialImage">
                                 <img src="./public/images/ritu-2.jpg" alt="" height="60" width="60">
                            </div>
                            <div class="title-slide">
                                <h4>RutuRaj Gaikwad</h4>
                                <h6>Indian Cricketer</h6>
                            </div>
                        </div>
                    </div>
                    <p class="text-slide">
                        Efficient, user-friendly, and reliable. This payroll web portal service streamlines our processes seamlessly. Highly recommend for hassle-free payroll management!
                    </p>
                </div>
            </div>
           </div>
       </div>
   </div>
   <!-- ==================== -->
   <script src="../public/JS/swiper-bundle.min.js"></script>
   <script src="../public/JS/jquery.min.js"></script>
   <script src="../public/JS/home.js"></script>