
<head>
    <link rel="stylesheet" href="../public/css/solution.css">
</head>

   <!-- ==================================================== -->
   <section class="px-md-5 px-4 banner-box">
        <div class="col-lg-6 col-md-12 banner-item">
            <div>
                <h2>Trusted specialists in Payroll and Labour Law for 5 + years.<br/> <span>Your reliable partners for a half decade in the industry.</span></h2>
                <p class="text-muted">We guide organizations through the intricate landscape of Payroll and Post Payroll Compliances, utilizing our deep Subject Matter Expertise, allowing you to concentrate on your core business. Our approach is streamlined yet powerful.</p>
                <div class="banner-btn">
                    <a href="./contact">
                        <button class="btnUi">
                            Get Started
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 banner-item">
            <div class="image-box">
                <img src="./public/images/man-with-tab.png" alt="man-with-tab">
            </div>
        </div>
   </section>
   <!-- =========================== -->
    <section class="px-md-5 px-4 managedPayroll" id="managedPayroll">
        <div class="row accordian-box">
            <div class="col-lg-6 col-md-12">
                <div class="image-box">
                    <img src="./images/woman-with-phone.png" alt="woman-with-phone">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="wrapper">
                    <div class="mt-4">
                         <h3 class="main-title">Managed Payroll</h3>
                         <p class="sub-heading">Payroll Processing with a human touch.</p>
                         <p class="para px-2">At PayRule, our integrated solutions facilitate seamless data flow within our team, addressing your end-to-end payroll and compliance needs all conveniently centralized in one place.</p>
                    </div>
                     <input type="radio" id="radioYour Account" name="accordion" checked="checked"/>
                     <label class="item" for="radioYour Account">
                       <div class="title">Payroll Processing</div>
                       <div class="content">
                         <div>
                             <ul>
                                 <li>Onboarding to Full and Final Settlement</li>
                                 <li>Monthly Payroll Processing</li>
                                 <li>Bank Advice Generation</li>
                                 <li>Statutory Compliance and Deductions</li>
                             </ul>
                         </div>
                       </div>
                     </label>
                     <input type="radio" id="radioPayment &amp; Pricing" name="accordion"/>
                     <label class="item" for="radioPayment &amp; Pricing">
                       <div class="title">Statutory Compliance</div>
                       <div class="content">
                         <ul>
                             <li>Generate Statutory forms and returns for PF, ESIC, PT, MLWF, etc</li>
                             <li>Representation and liasoning with various departments for routing and special matters</li>
                             <li>Advisory and Assistance during Inspections and Audits</li>
                             <li>Gratuity, Maternity Benefit Calculations and Compliances</li>
                             <li>Handling Employee Issues w.r.to PF withdrawals, ESIC Claims, etc</li>
                             <li>Handling UAN queries</li>
                             <li>Form 16 and TDS Returns</li>
                         </ul>
                       </div>
                     </label>
                     <input type="radio" id="radioReturns &amp; Refunds" name="accordion"/>
                     <label class="item" for="radioReturns &amp; Refunds">
                       <div class="title">Employee Self service</div>
                       <div class="content">
                         <ul>
                             <li>View and download payslips and other documents</li>
                             <li>Tax declarations (80C)</li>
                             <li>Leave and attendance management, reimbursement claims, etc</li>
                             <li>New Regime v/s Old Regime</li>
                             <li>Employee awereness w.r.to latest developments in labour laws</li>
                         </ul>
                       </div>
                     </label>
                     <input type="radio" id="radioShipping &amp; Pickup" name="accordion"/>
                     <label class="item" for="radioShipping &amp; Pickup">
                       <div class="title">MIS</div>
                       <div class="content">
                         <ul>
                             <li>Attendance Reports</li>
                             <li>Loan and Advance Reports</li>
                             <li>Report Builder – Create your own reports</li>
                             <li>Policy making and execution</li>
                         </ul>
                       </div>
                     </label>
                </div>
            </div>
        </div>
    </section>
    <!-- ================== -->
    <section class="serviceBox px-md-5 px-4 py-5 bg-lightgrey" id="labourLaw">
            <div class="row"> 
                <div class="col-lg-5 col-md-12 serviceItem">
                    <h2 class="main-title">Labour Law Retainer Services</h2>
                    <p class="para">Seize the chance to minimize non-compliance risks by entrusting your concerns to our team of seasoned professionals—Chartered Accountants with over a decade of dedicated experience, committed to delivering hassle-free solutions</p>
                </div>
                <div class="col-lg-7 col-md-12 serviceItem">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="listItem">
                                <ul>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>Provident Fund</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>ESIC</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>Professional Tax</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>Income Tax-Form 16, 24Q</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>LWF</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="listItem">
                                <ul>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>Shops and Establishment Act</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span>Factories Act Compliances</li>
                                    <li class="pb-0 mb-0"><span><i class="fa-regular fa-circle-dot"></i></span>Allied Laws</li>
                                </ul>
                                <ul class="childList">
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span> Gratuity</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span> Maternity Benefit</li>
                                    <li><span><i class="fa-regular fa-circle-dot"></i></span> Bonus</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ====================== -->
    <section class="serviceBox px-md-5 px-4 py-5" id="representation">
        <div class="row">
            <div class="col-lg-5 col-md-12 serviceItem">
                <h2 class="main-title">Representation & Litigation</h2>
                <p class="para">In our pursuit of providing enhanced services, we have expanded into the following service areas, in line with our commitment to being your trusted experts in labor law and payroll—your ultimate destination for expert guidance.’</p>
            </div>
            <div class="col-lg-7 col-md-12 serviceItem">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="listItem">
                            <ul>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span> PF 7A Case Representation</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>CGIT Representation</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>PF Shram Suvidha Inspection</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>ESI Inspection and Survey</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>ESI 45A and 45AA Representation Services</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>PT(Professiona Tax) Assessment and Representation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ -->
    <section class="serviceBox px-md-5 px-4 py-5 bg-lightgrey" id="featured">
        <div class="row">
            <div class="col-lg-5 col-md-12 serviceItem">
                <h2 class="main-title">Featured Services</h2>
                <p class="para">With a commitment to expanding our service offerings, we have ventured into the following areas that resonate with our mission of being your preferred destination for expertise in labor law and payroll solutions.</p>
            </div>
            <div class="col-lg-7 col-md-12 serviceItem">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="listItem">
                            <ul>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>Shop Act License - PAN India</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>NAPS Consultancy and Retainer Services</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>Moonlighting Check Services / Employee Background Check</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>Income Tax-Form 16, 24Q</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>Salary Structure and Employee Tax Planning</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="listItem">
                            <ul>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>Factories Act Compliances and Licensing</li>
                                <li><span><i class="fa-regular fa-circle-dot"></i></span>MPCB Licenses</li>
                                <li class="pb-0 mb-0"><span><i class="fa-regular fa-circle-dot"></i></span>Labour Codes Consultancy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================================================== -->
    <section class="px-md-5 px-4 py-5 quoteBox">
        <div class="row">
            <div class="col-md-8 sol-sm-12">
                <div class="banner-item">
                    <h2>Let us manage non-core HR functions, enabling you to concentrate on your core business priorities.</h2>
                    <p>We take the payroll and compliances game head on, with a smile on our faces</p>
                </div>
            </div>
            <div class="col-md-4 sol-sm-12 quoteBtn">
                <div class="text-center">
                    <a href="./contact">
                        <button>
                            <span>Get a Quote</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    