<head>
    <link rel="stylesheet" href="../public/css/contact.css">
</head>
   <!-- ==================================================== -->
   <section class="container-fluid fliudBox">
        <div class="col-lg-6 col-md-8 mx-auto thankuBox">
            <h2 class="">Thank You!</h2>
            <p>The form was submitted successfully. We will reach you shorlty</p>
            <a href="/" class="goback"><i class="fa-solid fa-angles-left"></i> Go Back</a>
        </div>
   </section>